
<section class="WelcomeScreen" id="WelcomeScreen">
    <div id="video-wrap" class="video-wrap" >
      <div class="contentOnVideo text-center">
        <div class="container">
        <div class="row">
        <div class="col-md-12">
          <ul>
            <li>+7 (903) 118-07-45</li>
            <li>+7 (985) 136-30-07</li>
            <li>info@teamrive.su</li>
          </ul>
        </div>

        </div>
        </div>
        <h1>Аренда терраподов</h1>
        <h4>и организация мероприятий</h4>
      </div>
            <video preload="metadata" autoplay loop id="my-video" muted >
                <source src="video/ocean.mp4" type="video/mp4">
            </video>

        </div>
  </section>


  <section >

  <section class="catalogSection" id="catalogSection" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 >Аренда терраподов и организация автомобильных тест-драйвов </h2>
            <div class="row">
              <%@terrapods.each do |pod|%>
                <div class="col-md-3">
                  <a href="/terrapod/<%=pod.id%>">
                    <div class="" style="background-image:url('<%=pod.preview.url%>'); height: 300px;"> </div>
                  </a>
               
                </div>
              <%end%>
          </div>  
        </div>
      </div>
    </div>
  </section>

  <section class="priceSection" id="priceSection"  ng-app='teamdriveApp'>
  <div class="container" ng-controller='slickCtrl'>
   <div class="row">
    <div class="col-md-12 text-center">
     <!-- <h2>Презентация компании <br/> и стоимость аренды</h2> -->
     <h2>Cтоимость аренды</h2>
     <p>При аренде 2-ух терропадов на 5 дней предоставляется
     <br/><span>скидка на 20%</span></p>
     <!-- <a href="price.pdf" class="temporaryPrice"  download="TeamDrive">
      <img src="../img/PDF.png" class="img-responsive" />
      Скачать PDF
     </a> -->
    </div>
   </div>
   <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
     <form name="form" action="https://docs.google.com/a/dshop24.ru/forms/d/1UalPr_cwd00zy4_FrJW2-QCCDiTrepGJVIqEPvv_Uss/formResponse" target="hidden_iframe"
     ng-submit="mute = !mute;" novalidate >

   <div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
     <ul class="designBug">
      <li>Тип террапада</li>
      <li>Количество дней</li>
     </ul>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-10 SaleWrap" >
     <slick init-onload=true data="terrapods" slides-to-show=4 slides-to-scroll=4 dots=false responsive="breakpoints">
            <div class="item" ng-repeat="terrapod in terrapods.slice().reverse()">
            <!-- <div class="item" ng-repeat="terrapod in terrapods | reverse"> -->
             <figure>
       <div class="imgWrap" ng-class="{active:terrapod.count > 0}">
        <img src="{{terrapod.preview}}" class="img-responsive">
       </div>
       <figcaption>
        <ul class="title">
         <li>{{terrapod.title}}</li>
        </ul>
        <ul class="addRemove">
         <li> 
          <span ng-click="removeCount($index)"> – </span>
          <samp>{{tc[$index]}}</samp>
          <span ng-click="addCount($index)">+</span>
         </li>
        </ul>
       </figcaption>
       </figure>

            </div>
        </slick>
     <div class="col-md-12 text-right">
      <ul class="pricePort">
       <li>ИТОГО: {{ sum }}</li>
       <li>Скидка: {{ skid }} руб.</li>
      </ul>
      <div ng-show="!mute">
      <input name="entry.1485480676" value="{{user.name}}" class="hidden" >
         <input name="name" ng-model="user.name" ng-class="{'allRight':form.name.$valid}" placeholder="Ваше имя" required>
         <input type="text" name="entry.991115518" value="{{client.phoneNumber}}" class="hidden" ng-model="client.phoneNumber" ui-br-phone-number>
      <input type="text" id="phone" name="phone" ng-model="client.phoneNumber" ng-class="{'allRight':form.phone.$valid}" ui-br-phone-number placeholder="Ваш телефон" required>
      <input type="text" class="hidden" name="entry.1881699659" placeholder="ЗАКАЗ" value="{{sendData(terrapods);}}">
      
      <button class="myBtn" ng-show="form.$valid">
      Отправить</button>
         <button class="myBtn fake" disabled ng-show="form.$invalid">Отправить
         </button>
         </div>
         <div ng-show="mute">
         <p>Спасибо. Наши специалисты свяжутся с Вами.</p>
      </div>
     </div>
    </div>
   </div>
   </form>
  </div>
 </section>
  <section class="eventMakingSection" id="eventMakingSection">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Организация мероприятий</h2>
          <p> Тест-драйв различных форматов дает возможность понять и ощутить автомобиль, благодаря чему многие потенциальные покупатели делают правильный выбор.
              <p>Основной целью тест-драйва являются определение преимуществ и недостатков тестируемого автомобиля с целью выделения его основных достоинств. Поэтому для организации тест-драйва должна быть создана такая полоса с искусственными препятствиями, которая  максимально поможет продемонстрировать различные технические характеристики машины и ее преимущества перед остальными авто-конкурентами.</p>
          </p>
        </div>
      </div>
      <div class="row itemsWrap" >
        <% @events.each do |event| %>
        <div class="col-md-4">
          <figure>
            <a href="/events/<%=event.id%>">
            <div class="bgEvent" style="background-image:url('<%=event.image.image.url%>')"></div>
            <figcaption>
              <%=event.title%>
            </figcaption>
            </a>
          </figure>
        </div>
        <%end%>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li >Показать ещё</li>
            <li data-toggle="modal" data-target=".MIN">Заказать мероприятие</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-6 footNAv">
          <ul>
            <li><a href="#/news">Новости</a></li>
            <li><a href="#/articles">Архив статей</a></li>
            <li><a href="#/tests">Архив полигонов</a></li>

          </ul>
        </div>
        <div class="col-md-6 text-right footCont">
          <ul>
            <li>+7 (903)<span> 118-07-45</span></li>
            <li>+7 (985)<span> 136-30-07</span></li>
            <li><a href="mailto:info@teamrive.su"> info@teamrive.su</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  





</body>
